{% extends 'base.html' %}
{{ super() }}
{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="container-fluid" style="background-color: #f1b0b7; width: 45%; align-content: center; align-items: center; align-self: center">

    <ul class="text-decoration-none"  style="color: black">
        <li style="margin-top: 1in">
            <a data-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                Anal Cancer
            </a>


            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <br>
                    STAGE
                    <br>
                    Squamous cell carcinoma begins in the outer lining of the anal canal. It is the most common type of anal cancer.
                    Cloacogenic carcinoma develops between the outer part of the anus and the lower part of the rectum and accounts for about 25 percent of all anal cancers.
                    Adenocarcinoma occurs in the mucous-producing glands located beneath the anal lining.
                    Basal cell carcinoma is a type of skin cancer that may appear in the perianal skin, which is around the anus.
                    Melanoma begins in pigment-producing cells found in the skin or anal lining.
                    <br>
                    SYMPTOMS
                    <br>
                    Persistent or recurring anal itching
                    Persistent or recurring pain in the anal area
                    Feeling of a lump or mass in the anus
                    Change in bowel habits (going to the bathroom more or less frequently) or increased strain during bowel movement
                    A narrowing of the diameter of stool
                    Abnormal discharge from the anus
                    Swollen lymph nodes in the anal or groin area
                    <br>
                    STAGES
                    <br>
                    Stage 0: The cancer has not grown beyond the top layer of anal tissue and has not spread. Also called carcinoma in situ or Bowen’s disease.
                    Stage I (stage 1 anal cancer): The cancer has spread beyond the top layer of anal tissue, but it has not spread to nearby lymph nodes or distant sites. The tumor is less than 2 cm.
                    Stage II (stage 2 anal cancer): The tumor is greater than 2 cm but has not spread to nearby organs, lymph nodes or distant sites.
                    Stage III (stage 3 anal cancer): There are two subcategories of stage III anal cancer: IIIA and IIIB. The categories differ by the extent to which the cancer has spread.
                    Stage IIIA anal cancer may be staged in two different ways:
                    The cancer is any size but has not grown into nearby organs. The cancer has spread to the lymph nodes around the rectum. The cancer has not spread to distant sites, OR
                    The cancer has spread to nearby organs, such as the vagina or bladder. The cancer has not spread to nearby lymph nodes. The cancer has not spread to distant sites.
                    Stage IIIB cancer may also be staged in two different ways:
                    The cancer has spread to nearby organs, such as the vagina or bladder. The cancer has spread to the lymph nodes around the rectum. The cancer has not spread to distant sites, OR
                    The cancer is any size and may or may not have grown into nearby organs. The cancer has spread to the lymph nodes in the groin or pelvis and may or may not have spread to lymph nodes around the rectum. The cancer has not spread to distant sites.
                    Stage IV (stage 4 anal cancer): In this, the most advanced stage of anal cancer, the cancer is any size and may or may not have spread to nearby organs, such as the vagina or bladder. The cancer may or may not have spread to nearby lymph nodes. The cancer has spread to distant organs and tissues.
                    <br>
                    TREATMENT
                    <br>
                    Surgery
                    A local resection treats cancers in the lower part of the anal canal, known as the anal margin. This may be an option for early-stage anal cancer that has not spread. This approach is primarily used to remove small tumors not involving the sphincter, which is the muscle used to control bowel movements. The tumor is removed along with a small amount of surrounding tissue. The sphincter is left intact to allow for normal bowel movements after surgery. Chemotherapy and radiation therapy may follow surgery.
                    An abdominoperineal resection is an option for recurrent cancer or cancer that has not responded to other treatments. It involves removing the anus and anal sphincter. Incisions are made in the abdomen and around the anus to remove the anus and rectum. A new opening is created to allow stool to pass from the body. A lymph node dissection to remove lymph nodes in the groins may also be performed, though this procedure may be done later.
                    Chemotherapy
                    Chemotherapy drugs, given intravenously or orally, target cancer cells to destroy them or impede their ability to grow and reproduce, while radiation therapy allows radiation oncologists to target difficult-to-reach tumors. Higher doses of radiation may be directed at anal cancer cells while reducing exposure to healthy tissue.
                    Radiation
                    A combination of radiation and chemotherapy, mainly performed for anal preservation, may be recommended as an alternative to surgery that results in a permanent colostomy, which requires a bag attached to the abdomen to collect stool.

                </div>
            </div>
        </li>
        <li><a data-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                Anal Cancer
            </a>


            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <br>
                    TYPES
                    <br>
                    <br>
                    SYMPTOMS
                    <br>
                    <br>
                    STAGES
                    <br>
                    Stage IV (stage 4 anal cancer): In this, the most advanced stage of anal cancer, the cancer is any size and may or may not have spread to nearby organs, such as the vagina or bladder. The cancer may or may not have spread to nearby lymph nodes. The cancer has spread to distant organs and tissues.
                    <br>
                    TREATMENT
                    <br>
                    Surgery
                    A local resection treats cancers in the lower part of the anal canal, known as the anal margin. This may be an option for early-stage anal cancer that has not spread. This approach is primarily used to remove small tumors not involving the sphincter, which is the muscle used to control bowel movements. The tumor is removed along with a small amount of surrounding tissue. The sphincter is left intact to allow for normal bowel movements after surgery. Chemotherapy and radiation therapy may follow surgery.
                    An abdominoperineal resection is an option for recurrent cancer or cancer that has not responded to other treatments. It involves removing the anus and anal sphincter. Incisions are made in the abdomen and around the anus to remove the anus and rectum. A new opening is created to allow stool to pass from the body. A lymph node dissection to remove lymph nodes in the groins may also be performed, though this procedure may be done later.
                    Chemotherapy
                    Chemotherapy drugs, given intravenously or orally, target cancer cells to destroy them or impede their ability to grow and reproduce, while radiation therapy allows radiation oncologists to target difficult-to-reach tumors. Higher doses of radiation may be directed at anal cancer cells while reducing exposure to healthy tissue.
                    Radiation
                    A combination of radiation and chemotherapy, mainly performed for anal preservation, may be recommended as an alternative to surgery that results in a permanent colostomy, which requires a bag attached to the abdomen to collect stool.

                </div>
            </div></li>
        <li><a href="#">Bile duct cancer</a></li>
        <li><a href="#">Bladder cancer</a></li>
        <li><a href="#">Bone cancer</a></li>
        <li><a href="#">Brain cancer</a></li>
        <li><a href="#">​Breast cancer</a></li>
        <li><a href="#">​Cervical cancer</a></li>
        <li><a href="#">​Colorectal cancer</a></li>
        <li><a href="#">​Esophageal cancer</a></li>
        <li><a href="#">​Gallbladder cancer</a></li>
        <li><a href="#">Gestational trophoblastic disease</a></li>
        <li><a href="#">​Head and neck cancer</a></li>
        <li><a href="#">​Hodgkin lymphoma</a></li>
        <li><a href="#">​Intestinal cancer</a></li>
        <li><a href="#">Kidney cancer</a></li>
        <li><a href="#">Leukemia</a></li>
        <li><a href="#">​Liver cancer</a></li>
        <li><a href="#">​Lung cancer</a></li>
        <li><a href="#">​Melanoma</a></li>
        <li><a href="#">​Mesothelioma</a></li>
        <li><a href="#">​Multiple myeloma</a></li>
        <li><a href="#">​Neuroendocrine tumors</a></li>
        <li><a href="#">​Non-Hodgkin lymphoma</a></li>
        <li><a href="#">​Oral cancer</a></li>
        <li><a href="#">​Ovarian cancer</a></li>
        <li><a href="#">​Pancreatic cancer</a></li>
        <li><a href="#">​Prostate cancer</a></li>
        <li><a href="#">​Sinus cancer</a></li>
        <li><a href="#">Skin cancer</a></li>
        <li><a href="#">Soft tissue sarcoma</a></li>
        <li><a href="#">​Spinal cancer</a></li>
        <li><a href="#">​Stomach cancer</a></li>
        <li><a href="#">​Testicular cancer</a></li>
        <li><a href="#">​Throat cancer</a></li>
        <li><a href="#">​Thyroid cancer</a></li>
        <li><a href="#">​Uterine cancer</a></li>
        <li><a href="#">Vaginal cancer</a></li>
        <li><a href="#">​Vulvar cancer</a></li>
    </ul>
    </div>
{% endblock %}